@page "/C_ocupaciones"

@inject OcupacionesBLL OcupacionesBLL

<EditForm Model="ocupaciones">
    <DataAnnotationsValidator />
    <div class="card">
        <div class="card-header">
            <h3>Consultar ocupaciones</h3>

        </div>
        <div class="card-body">
            <form>
                <div class="input-group d-flex align-items-end">
                    <select class="form-control" @bind="Filtro">
                         <option value="1">OcupacionId</option>
                         <option value="2">Descripcion</option>
                     </select>

                <label class="form-control">Criterio</label>
                <input type="text" class="form-control" @bind="Criterio">

                <div>
                    <button type="button" class="btn btn-warning" @onclick="Buscar">
                        <i class="oi oi-magnifying-glass mr-2" /> Buscar
                    </button>
                </div>
                </div>
            </form>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>OcupacionId</th>
                    <th>Descripcion</th>
                    <th>Salario</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in lista)
                {
                    <tr>
                        <td>@item.OcupacionId</td>
                        <td>@item.Descripcion</td>
                        <td>@item.Salario</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</EditForm>

@code {

    public Ocupaciones  ocupaciones {set;get;}= new Ocupaciones();
    public string Filtro{ get; set; }
    public string Criterio{ get; set; }
    public List<Ocupaciones> lista { get; set; } = new List<Ocupaciones>();
     
     [Inject]
    private OcupacionesBLL ocupacionesBLL { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
      
    }

    private void Buscar()
    {
        

        lista = ocupacionesBLL.GetOcupaciones();

    }

}
