@page "/"

<PageTitle>Index</PageTitle>

<h1>Registro de prestamos personales</h1>

<h5>Wandy Fco. Paulino V. </h5>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
