@page "/R_ocupaciones"
@inject OcupacionesBLL OcupacionesBLL
@inject NotificationService notificacion

<EditForm Model="ocupacion" OnValidSubmit="Guardar">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="card">
        <div class="card-header">
            <h3>Registro de ocupaciones</h3>
        </div>
        <div class="card-body">
            @*OcupacionId*@
            <div class="form-row align-items-center">
                <div class="col">
                    <div class="mb-3">
                        <label>OcupacionId</label>
                        <div class="input-group">
                            <InputNumber @bind-Value="ocupacion.OcupacionId" class="form-control col-4" />
                            <div class="input-group-append">
                                <button class="btn btn-outline-primary" type="button" @onclick="Buscar"> <i
                                        class="oi oi-magnifying-glass" /> </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @*Descripcion*@
            <div class="form-group">
                <label>Descripción</label>
                <InputText @bind-Value="ocupacion.Descripcion" class="form-control" />
                <ValidationMessage For="@(() => ocupacion.Descripcion)" />
            </div>

            @*Salario*@
            <div class="form-group">
                <label>Salario</label>
                <InputNumber @bind-Value="ocupacion.Salario" class="form-control" />
                <ValidationMessage For="@(() => ocupacion.Salario)" />
            </div>



        </div>
        <div class="card-footer">
            <div class="mb-3 text-center" display: inline-block>
                <button type="button" class="btn btn-lg btn-primary" @onclick="Nuevo">
                    <i class="oi oi-file" /> Nuevo
                </button>
                <button type="submit" class="btn btn-lg btn-success">
                    <i class="oi oi-document" /> Guardar
                </button>
                <button type="button" class="btn btn-lg btn-danger" @onclick="Eliminar">
                    <i class="oi oi-trash" /> Eliminar
                </button>
            </div>
        </div>
    </div>
</EditForm>

@code {

    [Parameter]
    public int OcupacionId { get; set; }
    public Ocupaciones ocupacion { get; set; } = new Ocupaciones();

    public List<Ocupaciones> lista { get; set; } = new List<Ocupaciones>();

    protected async override Task OnInitializedAsync()
    {
        if (OcupacionId > 0)
        {
            this.ocupacion.OcupacionId = OcupacionId;
            this.Buscar();
        }
    }

    public void Nuevo()
    {
        ocupacion = new Ocupaciones();
        notificacion.ShowNotification("Nueva plantilla.", NotificationSeverity.Success);

    }

    bool Validar()
    {
        return ocupacion.Descripcion.Contains(".");
    }

    public async Task Guardar()
    {

        bool guardado = await OcupacionesBLL.Guardar(ocupacion);

        if (guardado)
        {
            Nuevo();
            notificacion.ShowNotification("Guardado correctamente.");
        }
        else
        {
            notificacion.ShowNotification("No fue guardado.", NotificationSeverity.Error);
        }
    }

    private async Task  Buscar()
    {
        if (ocupacion.OcupacionId > 0)
        {
            var encontrado = await OcupacionesBLL.Buscar(ocupacion.OcupacionId);

            if (encontrado != null)
            {
                this.ocupacion = encontrado;
                notificacion.ShowNotification("Registro encontrado", NotificationSeverity.Success);
            }
            else
            {
                notificacion.ShowNotification("Registro no encontrado", NotificationSeverity.Warning);
            }
        }
    }

    public async Task Eliminar()
    {

        var elimino = await OcupacionesBLL.Eliminar(ocupacion);
        if (elimino)
        {
            Nuevo();
            notificacion.ShowNotification("Eliminado correctamente.");
        }
        else
        {
            notificacion.ShowNotification("No fue eliminado.", NotificationSeverity.Error);
        }
    }



}